<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345655602445-8g77sinfb814ldc00u1468pdjtuder8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345655602445-8g77sinfb814ldc00u1468pdjtuder8a</string>
	<key>API_KEY</key>
	<string>AIzaSyDbUN8jubPu7UkewCGTqLPr1ManOw5o6sw</string>
	<key>GCM_SENDER_ID</key>
	<string>345655602445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shivani.miniEC463</string>
	<key>PROJECT_ID</key>
	<string>miniec463</string>
	<key>STORAGE_BUCKET</key>
	<string>miniec463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345655602445:ios:e59516520ccb9906</string>
	<key>DATABASE_URL</key>
	<string>https://miniec463.firebaseio.com</string>
</dict>
</plist>